*{
	box-sizing: border-box;
    font-family: Arial;
}

div.imgPreview img{
    width: 100%;
} 
div.imgPreview input{
    display: none;
} 
div.imgPreview{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background: #749eb3;
    display: inline-block;
    width: 100px;
    height: 100px;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    position:relative;
    overflow:hidden;
    margin: 0px 3px;
}
div.uploadButtonBox{
    cursor:pointer;

    display: inline-block;
    width: 100px;
    height: 100px;
    color: #FFF;
    background: #629a4b;
    text-align: center;
    font-size: 24px;
    padding: 5px 15px 15px 15px;
    position: relative;
    overflow: hidden;
        margin: 0px 3px;
}
div.uploadButtonBox > img{
    width: 100%;
} 

div.imgPreview:hover div.uploadbasarili{
    display:none;
}
div.imgPreview div.yuzdelik{
    //#00000080
    position: absolute;
    top: 0;
    left: 0;
    background: #00000080;
    width: 100%;
    height: 100%;
    padding: 30px 0px 0px 0px;
    color: #FFF;
}
div.imgPreview:hover div.deleteImage{
    display:block;
}
div.imgPreview div.deleteImage{
    padding: 15px;
    cursor:pointer;
    display:none;
    position:absolute;
    top:0;
    left:0;
background:#00000080;
width:100%;
height:100%;
} 
div.imgPreview > label{
    cursor:pointer;
    width: 96px;
    height: 100px;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
}
div.imgPreview span{
    cursor:pointer;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 96px;
    height: 100px;
    padding: 15px 0px 0px 0px;
} 
div.imgPreview:hover div.uploadDone{
    display:none;
}
.uploadDone, .uploadPercentage {

    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000080;
    width: 100%;
    height: 100%;
}
.uploadPercentage {
    padding: 35px 15px 15px 15px;
}
div.uploadPercentage > img{
    position:absolute;z-index:999;width:calc(100% - 30px);height:calc(100% - 30px);top:15px;left:15px;display:block;
}
.uploadButtonBox > span{
        font-size: 18px;
    margin-top: 3px;
    display: block;
    font-weight: 700;
}